.f-r-a-m-e-a {
  top: 0;
  width: 1440px;
  height: 3160px;
}
.f-r-a-m-e-a,
.f-r-a-m-e-a1,
.group-child {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
}
.f-r-a-m-e-a1 {
  top: 0;
  border-bottom: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 87.2px;
}
.group-child {
  top: 19px;
  width: 190px;
  height: 51px;
}
.mchs {
  margin: 0;
  position: absolute;
  top: 0;
  left: 68px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(100.84deg, #e4e81a, #e5881b) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 109px;
  height: 53px;
  text-shadow: 0.6px 0 0#000, 0 0.6px 0#000, -0.6px 0 0#000, 0-0.6px 0#000;
  backdrop-filter: blur(4px);
  min-width: 109px;
}
.rectangle-parent {
  position: absolute;
  top: 12px;
  left: 41px;
  width: 190px;
  height: 70px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-knewave);
}
.f-r-a-m-e-a2 {
  position: absolute;
  top: 32px;
  left: 465px;
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.study {
  position: absolute;
  top: 38px;
  left: 508px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 46px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.f-r-a-m-e-a3 {
  position: absolute;
  top: 32px;
  left: 771px;
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
}
.book-for-abroad {
  position: absolute;
  top: 38px;
  left: 777px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 122px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  min-width: 122px;
}
.f-r-a-m-e-a4 {
  position: absolute;
  top: 32px;
  left: 924px;
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
  cursor: pointer;
}
.about-us {
  position: absolute;
  top: 38px;
  left: 944px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 93px;
  height: 19px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.r-e-c-t-a-n-g-l-e-b {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #e4e81a, #e5881b);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.explore-option {
  position: absolute;
  top: 10px;
  left: 12px;
  display: inline-block;
  width: 109px;
  height: 18px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.r-e-c-t-a-n-g-l-e-b-parent {
  position: absolute;
  top: 27px;
  left: 1291.5px;
  width: 133px;
  height: 39px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-child,
.undo-icon {
  position: absolute;
  object-fit: contain;
}
.undo-icon {
  top: 12px;
  left: 16px;
  width: 49px;
  height: 42px;
  cursor: pointer;
}
.frame-child {
  top: 18px;
  left: 275px;
  width: 1px;
  height: 53px;
}
.country-list-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
}
.countries {
  position: absolute;
  top: 6px;
  left: 10px;
  display: inline-block;
  width: 87px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.rectangle-div,
.study-abroad-resources-child,
.study-abroad-resources-child1,
.study-abroad-resources-inner,
.study-abroad-resources-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
}
.rectangle-div,
.study-abroad-resources-child1,
.study-abroad-resources-inner,
.study-abroad-resources-item {
  top: 30px;
}
.rectangle-div,
.study-abroad-resources-child1,
.study-abroad-resources-inner {
  top: 60px;
}
.rectangle-div,
.study-abroad-resources-child1 {
  top: 90px;
}
.study-abroad-resources-child1 {
  top: 120px;
}
.canada,
.germany,
.ireland,
.study-abroad-resources1,
.united-kingdoms {
  position: absolute;
  top: 6px;
  left: 10px;
  display: inline-block;
  width: 102px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.canada,
.germany,
.ireland,
.study-abroad-resources1 {
  top: 36px;
  width: 87px;
}
.germany,
.ireland,
.study-abroad-resources1 {
  top: 66px;
}
.germany,
.study-abroad-resources1 {
  top: 96px;
}
.study-abroad-resources1 {
  top: 129px;
  font-size: var(--font-size-3xs);
  width: 120px;
}
.study-abroad-resources {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 150px;
  font-size: var(--font-size-xs);
}
.chevron-down-icon {
  position: absolute;
  top: 0;
  left: 99px;
  width: 34px;
  height: 30px;
  object-fit: contain;
}
.country-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 186px;
}
.country-list-wrapper {
  position: absolute;
  top: 35px;
  left: 599px;
  width: 133px;
  height: 30px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
}
.frame-item {
  position: absolute;
  top: 87px;
  left: 0;
  width: 1440px;
  height: 749px;
  object-fit: cover;
}
.frame-child1,
.frame-inner {
  position: absolute;
  top: 117px;
  left: 90px;
  background-color: var(--color-gray-500);
  width: 1268px;
  height: 147px;
}
.frame-child1 {
  top: 737px;
  left: 493px;
  width: 520px;
  height: 70px;
}
.unlock-your-potential {
  position: absolute;
  top: 128px;
  left: 251px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-gray-700);
  text-align: center;
  display: inline-block;
  width: 945px;
  height: 122px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.benefits-of-studying,
.facts-about-germany,
.living-and-working,
.take-counselling {
  margin: 0;
  position: absolute;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.take-counselling {
  top: 747px;
  left: 505px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-700);
  text-align: center;
  width: 482px;
  height: 48px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.benefits-of-studying,
.facts-about-germany,
.living-and-working {
  top: 899px;
  left: 46px;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  width: 652px;
  height: 68px;
}
.benefits-of-studying,
.living-and-working {
  top: 1131px;
  width: 1109px;
}
.living-and-working {
  top: 1439px;
}
.germany-a-powerhouse,
.studying-in-germany {
  position: absolute;
  left: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1285px;
}
.germany-a-powerhouse {
  top: 975px;
  font-family: var(--font-inter);
}
.studying-in-germany {
  top: 1237px;
}
.punctuality,
.studying-in-germany {
  font-family: var(--font-inter);
}
.punctuality-germans-value-pun1 {
  margin-bottom: 0;
}
.germans-emphasize-achieving,
.work-life-balance {
  font-family: var(--font-inter);
}
.work-life-balance-germans-emp {
  margin-bottom: 0;
}
.efficiency-and-thoroughness,
.germans-are-known {
  font-family: var(--font-inter);
}
.efficiency-and-thoroughness-g {
  margin-bottom: 0;
}
.direct-communication,
.germans-tend-to {
  font-family: var(--font-inter);
}
.direct-communication-germans {
  margin-bottom: 0;
}
.germany-has-a,
.respect-for-rules {
  font-family: var(--font-inter);
}
.respect-for-rules-and-regulati {
  margin-bottom: 0;
}
.germans-prioritize-sustainabil,
.sustainability-and-environment1 {
  font-family: var(--font-inter);
}
.sustainability-and-environment {
  margin-bottom: 0;
}
.germany-boasts-a,
.transport {
  font-family: var(--font-inter);
}
.punctuality-germans-value-pun {
  margin: 0;
  font-size: inherit;
  padding-left: 24px;
}
.punctuality-germans-value-container {
  position: absolute;
  top: 1591px;
  left: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1285px;
  font-family: var(--font-inter);
}
.f-r-a-m-e-a5 {
  position: absolute;
  top: 2948.5px;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-700);
  border-top: 0.5px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 1440px;
  height: 211.5px;
}
.our-story,
.study-ace,
.who-we-are {
  position: absolute;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.study-ace {
  margin: 0;
  top: 2978px;
  left: 136px;
  font-size: var(--font-size-16xl);
  line-height: 33px;
  font-weight: 400;
  font-family: inherit;
  width: 171px;
  height: 33px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.our-story,
.who-we-are {
  left: 436px;
  height: 24px;
}
.who-we-are {
  top: 2985px;
  width: 112px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.our-story {
  top: 3030px;
  width: 91px;
}
.connect-on-social,
.connect-with-peers,
.follow-us-on,
.student-support-services,
.twitter-updates {
  position: absolute;
  top: 3030px;
  left: 732px;
  display: inline-block;
  width: 239px;
  height: 24px;
  backdrop-filter: blur(4px);
}
.connect-on-social,
.connect-with-peers,
.follow-us-on,
.twitter-updates {
  left: 1071px;
  width: 233px;
}
.connect-with-peers,
.follow-us-on,
.twitter-updates {
  top: 3058px;
  width: 218px;
}
.connect-with-peers,
.twitter-updates {
  top: 3085px;
  width: 149px;
}
.connect-with-peers {
  top: 3112px;
  line-height: 21px;
  width: 185px;
  height: 21px;
}
.questions-answers {
  top: 3058px;
  left: 732px;
  width: 201px;
  height: 24px;
}
.career-oppurtunities,
.get-assistance,
.questions-answers {
  position: absolute;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.get-assistance {
  top: 3085px;
  left: 732px;
  line-height: 19px;
  width: 140px;
  height: 19px;
}
.career-oppurtunities {
  top: 3058px;
  left: 436px;
  width: 195px;
  height: 24px;
}
.media-resources {
  top: 3085px;
  left: 436px;
  width: 157px;
  height: 24px;
}
.academic-guidance,
.join-student-community,
.media-resources,
.program-offering {
  position: absolute;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.program-offering {
  top: 3112px;
  left: 436px;
  line-height: 21px;
  width: 160px;
  height: 21px;
}
.academic-guidance,
.join-student-community {
  top: 2985px;
  left: 731px;
  width: 186px;
  height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.join-student-community {
  left: 1071px;
  width: 228px;
}
.line-icon {
  position: absolute;
  top: 2148px;
  left: 73px;
  width: 1311px;
  height: 5px;
  object-fit: contain;
}
.education-in-germany {
  margin: 0;
  position: absolute;
  top: 2198px;
  left: 46px;
  font-size: var(--font-size-36xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  width: 904px;
  height: 68px;
}
.rectangle-section {
  position: absolute;
  top: 2283px;
  left: 46px;
  background-color: var(--color-gainsboro);
  width: 1348px;
  height: 562px;
}
.f-r-a-m-e-a-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-800);
  font-family: var(--font-inter);
}
.desktop-6 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .unlock-your-potential {
    font-size: var(--font-size-21xl);
  }
  .take-counselling {
    font-size: var(--font-size-13xl);
  }
  .benefits-of-studying,
  .facts-about-germany,
  .living-and-working {
    font-size: var(--font-size-25xl);
  }
  .study-ace {
    font-size: var(--font-size-9xl);
    line-height: 26px;
  }
  .education-in-germany {
    font-size: var(--font-size-25xl);
  }
}
@media screen and (max-width: 450px) {
  .unlock-your-potential {
    font-size: var(--font-size-11xl);
  }
  .take-counselling {
    font-size: var(--font-size-5xl);
  }
  .benefits-of-studying,
  .facts-about-germany,
  .living-and-working {
    font-size: var(--font-size-14xl);
  }
  .study-ace {
    font-size: var(--font-size-2xl);
    line-height: 20px;
  }
  .connect-on-social,
  .follow-us-on,
  .our-story,
  .student-support-services,
  .twitter-updates,
  .who-we-are {
    font-size: var(--font-size-base);
  }
  .connect-with-peers {
    line-height: 17px;
  }
  .connect-with-peers,
  .questions-answers {
    font-size: var(--font-size-base);
  }
  .get-assistance {
    line-height: 15px;
  }
  .career-oppurtunities,
  .get-assistance,
  .media-resources {
    font-size: var(--font-size-base);
  }
  .program-offering {
    line-height: 17px;
  }
  .academic-guidance,
  .join-student-community,
  .program-offering {
    font-size: var(--font-size-base);
  }
  .education-in-germany {
    font-size: var(--font-size-14xl);
  }
}
.germflex
{
  display:flex;
  flex-direction:row;
  padding-top:3%;
}




/* error solving code */

.group-item,
.main-content-child,
.main-content-item {
  position: absolute;
  background-color: var(--color-white);
}
.main-content-child {
  top: 11px;
  left: 1px;
  width: 1440px;
  height: 3130px;
}
.group-item,
.main-content-item {
  left: 0;
}
.main-content-item {
  top: 11px;
  border-bottom: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 59.2px;
}
.group-item {
  top: 19px;
  width: 194.3px;
  height: 51px;
}
.mchs1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 69.5px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(100.84deg, #e4e81a, #e5881b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 111.4px;
  height: 53px;
  text-shadow: 0.6px 0 0#000, 0 0.6px 0#000, -0.6px 0 0#000, 0-0.6px 0#000;
  backdrop-filter: blur(4px);
  min-width: 111.4px;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 19.6px;
  width: 194.3px;
  height: 70px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-knewave);
}
.main-content-inner {
  position: absolute;
  top: 20px;
  left: 453px;
  background-color: var(--color-white);
  width: 136px;
  height: 30px;
  cursor: pointer;
}
.study1 {
  position: absolute;
  top: 26px;
  left: 497px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 47px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.main-content-child1 {
  position: absolute;
  top: 20px;
  left: 766px;
  background-color: var(--color-white);
  width: 136px;
  height: 30px;
}
.book-for-abroad1 {
  position: absolute;
  top: 26px;
  left: 772px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 125px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  min-width: 125px;
  z-index:2;
}
a
{
  text-decoration:none !important;
  
}
.main-content-child2 {
  position: absolute;
  top: 20px;
  left: 922px;
  background-color: var(--color-white);
  width: 136px;
  height: 30px;
  cursor: pointer;
}
.about-us1 {
  position: absolute;
  top: 26px;
  left: 943px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  display: inline-block;
  width: 95px;
  height: 19px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index:2;
}
.study-options {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #e4e81a, #e5881b);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.explore-option1 {
  position: absolute;
  top: 10px;
  left: 12.3px;
  display: inline-block;
  width: 111.4px;
  height: 18px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index:2;
}
.study-options-parent {
  position: absolute;
  top: 15px;
  left: 1298px;
  width: 136px;
  height: 39px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.main-content-child3,
.undo-icon1 {
  position: absolute;
  object-fit: contain;
}
.undo-icon1 {
  top: 11px;
  left: 0;
  width: 50px;
  height: 42px;
  cursor: pointer;
}
.main-content-child3 {
  top: 14px;
  left: 257.4px;
  width: 0.3px;
  height: 53px;
}
.united-kingdom-canada-ireland {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
}
.countries1 {
  position: absolute;
  top: 6px;
  left: 10px;
  display: inline-block;
  width: 87px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.social-media-links-child,
.social-media-links-child1,
.social-media-links-child2,
.social-media-links-inner,
.social-media-links-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  width: 133px;
  height: 30px;
}
.social-media-links-child1,
.social-media-links-child2,
.social-media-links-inner,
.social-media-links-item {
  top: 30px;
}
.social-media-links-child1,
.social-media-links-child2,
.social-media-links-inner {
  top: 60px;
}
.social-media-links-child1,
.social-media-links-child2 {
  top: 90px;
}
.social-media-links-child2 {
  top: 120px;
}
.canada1,
.germany1,
.ireland1,
.study-abroad-resources2,
.united-kingdoms1 {
  position: absolute;
  top: 6px;
  left: 10px;
  display: inline-block;
  width: 102px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.canada1,
.germany1,
.ireland1,
.study-abroad-resources2 {
  top: 36px;
  width: 87px;
}
.germany1,
.ireland1,
.study-abroad-resources2 {
  top: 66px;
}
.germany1,
.study-abroad-resources2 {
  top: 96px;
}
.study-abroad-resources2 {
  top: 129px;
  font-size: var(--font-size-3xs);
  width: 120px;
}
.social-media-links {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 150px;
  font-size: var(--font-size-xs);
}
.chevron-down-icon1 {
  position: absolute;
  top: 0;
  left: 99px;
  width: 34px;
  height: 30px;
  object-fit: contain;
}
.frame-div,
.united-kingdom-canada-ireland-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 186px;
}
.tp 
{
  background-color: #333;
}
.frame-div {
  top: 23px;
  left: 591px;
  width: 133px;
  height: 30px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
}
.rectangle-icon {
  position: absolute;
  top: 70px;
  left: 0;
  width: 1440px;
  height: 749px;
  object-fit: cover;
}
.main-content-child4 {
  position: absolute;
  top: 131px;
  left: 80px;
  background-color: var(--color-gray-500);
  width: 1268px;
  height: 147px;
}
.seize-your-opportunity {
  margin: 0;
}
.seize-your-opportunity-container {
  position: absolute;
  top: 142px;
  left: 241px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-gray-700);
  text-align: center;
  display: inline-block;
  width: 945px;
  height: 122px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.take-counseling {
  position: absolute;
  top: 718px;
  left: 454px;
  background-color: var(--color-gray-500);
  width: 520px;
  height: 70px;
}
.take-counselling1 {
  margin: 0;
  position: absolute;
  top: 728px;
  left: 466px;
  font-size: var(--font-size-21xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-700);
  text-align: center;
  display: inline-block;
  width: 482px;
  height: 48px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.benefits-of-studying1,
.education-in-ireland,
.facts-about-ireland,
.living-and-working1 {
  margin: 0;
  position: absolute;
  top: 876px;
  left: 44px;
  font-size: var(--font-size-36xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  width: 652px;
  height: 68px;
}
.benefits-of-studying1,
.education-in-ireland,
.living-and-working1 {
  top: 1107px;
  width: 904px;
}
.education-in-ireland,
.living-and-working1 {
  top: 1483px;
}
.education-in-ireland {
  top: 2121px;
  left: 48px;
}
.ireland-known-as,
.moreover-irelands-strong,
.studying-in-ireland {
  position: absolute;
  left: 78px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  display: inline-block;
}
.ireland-known-as {
  top: 962px;
  font-family: var(--font-inter);
  text-align: left;
  width: 1285px;
}
.moreover-irelands-strong,
.studying-in-ireland {
  top: 1224px;
  width: 1286px;
}
.moreover-irelands-strong {
  top: 1338px;
  text-align: left;
  width: 1285px;
}
.culture,
.moreover-irelands-strong {
  font-family: var(--font-inter);
}
.culture-irish-are-considered {
  margin: 0;
}
.welfare {
  font-family: var(--font-inter);
}
.welfare-ireland-has-a-very-l {
  margin: 0;
}
.transpor {
  font-family: var(--font-inter);
}
.transport-all-the-cities-in {
  margin: 0;
}
.working-as-a {
  font-family: var(--font-inter);
}
.working-as-a-student-all-the {
  margin: 0;
}
.student-life {
  font-family: var(--font-inter);
}
.student-life-ireland-has-one {
  margin: 0;
}
.culture-irish-are-container {
  position: absolute;
  top: 1600px;
  left: 78px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1285px;
  font-family: var(--font-inter);
}
.main-content-child5 {
  position: absolute;
  top: 2917.5px;
  left: 1px;
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-700);
  border-top: 0.5px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 1440px;
  height: 223.5px;
}
.study-ace1,
.who-we-are1 {
  position: absolute;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.study-ace1 {
  margin: 0;
  top: 2948px;
  left: 137px;
  font-size: var(--font-size-16xl);
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  width: 171px;
  height: 36px;
}
.who-we-are1 {
  top: 2956px;
  left: 437px;
  width: 112px;
  height: 24px;
}
.connect-on-social1,
.follow-us-on1,
.our-story1,
.student-support-services1 {
  position: absolute;
  top: 3003px;
  left: 437px;
  display: inline-block;
  width: 91px;
  height: 24px;
  backdrop-filter: blur(4px);
}
.connect-on-social1,
.follow-us-on1,
.student-support-services1 {
  left: 733px;
  width: 239px;
}
.connect-on-social1,
.follow-us-on1 {
  left: 1072px;
  width: 233px;
}
.follow-us-on1 {
  top: 3033px;
  width: 218px;
}
.twitter-updates1 {
  top: 3062px;
  left: 1072px;
  width: 149px;
  height: 24px;
}
.connect-with-peers1,
.get-assistance1,
.questions-answers1,
.twitter-updates1 {
  position: absolute;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.connect-with-peers1 {
  top: 3091px;
  left: 1072px;
  line-height: 21px;
  width: 185px;
  height: 21px;
}
.get-assistance1,
.questions-answers1 {
  top: 3033px;
  left: 733px;
  width: 201px;
  height: 24px;
}
.get-assistance1 {
  top: 3062px;
  line-height: 21px;
  width: 140px;
  height: 21px;
}
.career-oppurtunities1,
.media-resources1,
.program-offering1 {
  position: absolute;
  top: 3033px;
  left: 437px;
  display: inline-block;
  width: 195px;
  height: 24px;
  backdrop-filter: blur(4px);
}
.media-resources1,
.program-offering1 {
  top: 3062px;
  width: 157px;
}
.program-offering1 {
  top: 3091px;
  line-height: 21px;
  width: 160px;
  height: 21px;
}
.academic-guidance1,
.join-student-community1 {
  position: absolute;
  top: 2956px;
  left: 732px;
  display: inline-block;
  width: 186px;
  height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}
.join-student-community1 {
  left: 1072px;
  width: 228px;
}
.main-content-child6 {
  position: absolute;
  top: 2056px;
  left: 88px;
  width: 1311px;
  height: 5px;
  object-fit: contain;
}
.main-content-child7 {
  position: absolute;
  top: 2246px;
  left: 61px;
  background-color: var(--color-gainsboro);
  width: 1348px;
  height: 562px;
}
.main-content {
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  /* color: var(--color-gray-800); */
  font-family: var(--font-inter);
}
.desktop-7 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .seize-your-opportunity-container {
    font-size: var(--font-size-21xl);
  }
  .take-counselling1 {
    font-size: var(--font-size-13xl);
  }
  .benefits-of-studying1,
  .education-in-ireland,
  .facts-about-ireland,
  .living-and-working1 {
    font-size: var(--font-size-25xl);
  }
  .study-ace1 {
    font-size: var(--font-size-9xl);
    line-height: 29px;
  }
}
@media screen and (max-width: 450px) {
  .seize-your-opportunity-container {
    font-size: var(--font-size-11xl);
  }
  .take-counselling1 {
    font-size: var(--font-size-5xl);
  }
  .benefits-of-studying1,
  .education-in-ireland,
  .facts-about-ireland,
  .living-and-working1 {
    font-size: var(--font-size-14xl);
  }
  .study-ace1 {
    font-size: var(--font-size-2xl);
    line-height: 22px;
  }
  .connect-on-social1,
  .follow-us-on1,
  .our-story1,
  .student-support-services1,
  .twitter-updates1,
  .who-we-are1 {
    font-size: var(--font-size-base);
  }
  .connect-with-peers1 {
    line-height: 17px;
  }
  .connect-with-peers1,
  .questions-answers1 {
    font-size: var(--font-size-base);
  }
  .get-assistance1 {
    line-height: 17px;
  }
  .career-oppurtunities1,
  .get-assistance1,
  .media-resources1 {
    font-size: var(--font-size-base);
  }
  .program-offering1 {
    line-height: 17px;
  }
  .academic-guidance1,
  .join-student-community1,
  .program-offering1 {
    font-size: var(--font-size-base);
  }
}
